body{
    margin: 0px;
    font-family: 'Courier New';
}

header{
    position: relative;
    height: 80px;
    margin-top: 0px;
    background-color: gray;
}

main{
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 60px;
}

.container{
    position: relative;
}

#title{
    position: absolute;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#HeaderLogo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 12em;
    height: 4em;
}

footer{
    position: absolute;
    display: block;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: gray;
    text-align: center;
}

h3{
    position: absolute;
    left: 50%;
    margin: 0px;
    top: 1%;
    transform: translateX(-50%);
    font-size: 28px;
}