
#row0{
    bottom: 0%;
}

#row1{
    bottom: 10%;
}

#row2{
    bottom: 20%;
}

#row3{
    bottom: 30%;
}

#row4{
    bottom: 40%;
}

#row5{
    bottom: 50%;
}

#row6{
    bottom: 60%;
}

#row7{
    bottom: 70%;
}

#row8{
    bottom: 80%;
}

#row9{
    bottom: 90%;
}

#col0{
    left:0%;
}

#col1{
    left:20%;
}

#col2{
    left:40%;
}

#col3{
    left:60%;
}

#colFb{
    left:80%;
}

#FbPin0{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 25%;
    top: 25%;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#FbPin1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 75%;
    top: 25%;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#FbPin2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 25%;
    top: 75%;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#FbPin3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 75%;
    top: 75%;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}