#gameWindow{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#Board{
    position: absolute;
    height: 99%;
    width: 25%;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    border-style: solid;
    border-radius: 20px;
    background-color: lightgray;
}

#controls{
    position: absolute;
    left: 0px;
    padding: 1%;
    height: 95%;
    width: 36.9%;
}

.colourSelect{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    font-family: 'Courier New';
    font-size: 20px;
}

#colour0{
    top: 16%;
}

#colour1{
    top: 33%;
}

#colour2{
    top: 50%;
}

#colour3{
    top: 67%;
}

#GuessButton{
    position: absolute;
    top: 83%;
    left: 50%;
    width: 240px;
    height: 60px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

#StopForm{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 37.5%;
    height: 100%;
}

#StopButton{
    position: absolute;
    top: 83%;
    left: 50%;
    width: 240px;
    height: 60px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.Empty{
    background-color: darkgray;
}

.Zwart{
    background-color: black;
}

.Wit{
    background-color: white;
}

.col{
    position: absolute;
    width: 20%;
    height: 100%;
}

.row{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    transform: translate(-50%, -20%);
    left: 50%;
}

.FbBox{
    position: absolute;
    background-color: gray;
    width: 64px;
    height: 64px;
    left: 50%;
    border-style: solid;
    border-radius: 20%;
    transform: translate(-50%, -5%);
}