main{
    position: relative;
}

#StartForm{
    position: inherit;
    top: inherit;
    bottom: inherit;
    width: inherit;
}


#StartButton{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 20px;
    width: 50px;
    font-size: 16px;
}