form{
    position: relative;
    top: 0px;
    height: 50%;
}

#StartButton{
    position: absolute;
    left: 50%;
    top: 90%;
    height: 100px;
    width: 240px;
    font-size: 24px;
    transform: translate(-50%, -50%);
}


#StatButton{
    position: absolute;
    left: 50%;
    top: 10%;
    height: 30px;
    width: 180px;
    font-size: 16px;
    transform: translate(-50%, -50%);
}